      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>Hi, I'm Rachit Chawla. I am currently in my 4th semester of Computer Programming and Analysis advanced diploma at Seneca College Markham campus.</p>
          <p>My passion for learning and obsession with all things related to computers, computing, and development drives me to seek out all things related to these topics. Additionally, I am interested in data science and cybersecurity.</p>
          <p>It's difficult for me to identify with a single technology stack. Due to my interest in technology, I am able to adapt to any tech stack/framework depending on the requirements of the project. Although I've worked with Java and Python, I'm proficient in C, C++, and JS since those are the languages I'm currently studying. My skills in database management include MySQL, MongoDB and OracleSQL with PL/SQL.</p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming soon</h2>
          <p>Stay tuned for future updates.</p>
        </aside>
      </div>