<div class="row">
 <div class="col-md-12">
 <h2>Posts</h2>
 <hr />
 {{#each posts}}
 <p>
    {{!-- TODO: render a list of all post title values here --}}
    {{title}}
    </p>
{{/each}}
 </div>
</div>